{:archaic-sparta
 {:href            "https://en.wikipedia.org/wiki/Peloponnesian_League#/media/File:Peloponnesian_League_506_BC.png"
  :original-width  260
  :original-height 240
  :props           {:alt "The first members of the Peloponnesian League before 506 BC, according to G. E. M. de Ste. Croix"
                    :src "https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/Peloponnesian_League_506_BC.png/330px-Peloponnesian_League_506_BC.png"}}

 :cretan-hieroglyphs
 {:href            "https://en.wikipedia.org/wiki/Cretan_hieroglyphs#/media/File:The_palace_of_Minos_-_a_comparative_account_of_the_successive_stages_of_the_early_Cretan_civilization_as_illustrated_by_the_discoveries_at_Knossos_(1921)_(14771199524).jpg"
  :original-width  315
  :original-height 240
  :props           {:alt "Cretan hieroglyphics as seen in seals and tablets"
                    :src "https://upload.wikimedia.org/wikipedia/commons/thumb/8/8e/The_palace_of_Minos_-_a_comparative_account_of_the_successive_stages_of_the_early_Cretan_civilization_as_illustrated_by_the_discoveries_at_Knossos_%281921%29_%2814771199524%29.jpg/330px-thumbnail.jpg"}}

 :geometric-art
 {:href            "https://en.wikipedia.org/wiki/Geometric_art#/media/File:Attic_Late_Geometric_krater_(8th_cent._B.C.)_at_the_National_Archaeological_Museum_of_Athens_on_16_May_2018.jpg"
  :original-width  180
  :original-height 240
  :props           {:alt "The Hirschfeld Krater, mid-8th century BC, from the late Geometric period, National Archaeological Museum, Athens"
                    :src "https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/Attic_Late_Geometric_krater_%288th_cent._B.C.%29_at_the_National_Archaeological_Museum_of_Athens_on_16_May_2018.jpg/250px-Attic_Late_Geometric_krater_%288th_cent._B.C.%29_at_the_National_Archaeological_Museum_of_Athens_on_16_May_2018.jpg"}}

 :invention-of-the-greek-alphabet
 {:href            "https://en.wikipedia.org/wiki/History_of_the_Greek_alphabet#/media/File:Griechisches_Alphabet_Varianten.png"
  :original-width  124
  :original-height 240
  :props           {:alt "Variations of ancient Greek alphabets"
                    :src "https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Griechisches_Alphabet_Varianten.png/250px-Griechisches_Alphabet_Varianten.png"}}

 :linear-a
 {:href            "https://commons.wikimedia.org/wiki/File:Linear_A_cup.png"
  :original-width  499
  :original-height 480
  :props           {:alt "Linear A inscription on a cup"
                    :src "https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Linear_A_cup.png/500px-Linear_A_cup.png"}}

 :linear-b
 {:href            "https://en.wikipedia.org/wiki/Linear_B#/media/File:Linear_B_tablet_An_35.svg"
  :original-width  269
  :original-height 240
  :props           {:alt "Illustration of a Linear B tablet from Pylos"
                    :src "https://upload.wikimedia.org/wikipedia/commons/thumb/2/2b/Linear_B_tablet_An_35.svg/330px-Linear_B_tablet_An_35.svg.png"}}

 :minoan_eruption
 {:href            "https://en.wikipedia.org/wiki/Minoan_eruption#/media/File:Santorini_ASTER.jpg"
  :original-width  232
  :original-height 240
  :props           {:alt "Satellite image of Thera, November 21, 2000"
                    :src "https://upload.wikimedia.org/wikipedia/commons/thumb/0/06/Santorini_ASTER.jpg/250px-Santorini_ASTER.jpg"}}

 :minoan-pottery
 {:href            "https://en.wikipedia.org/wiki/Minoan_pottery#/media/File:AMI_-_Oktopusvase.jpg"
  :original-width  203
  :original-height 240
  :props           {:alt "Marine-style flask with octopus, c. 1500-1450 BC"
                    :src "https://upload.wikimedia.org/wikipedia/commons/thumb/1/1e/AMI_-_Oktopusvase.jpg/250px-AMI_-_Oktopusvase.jpg"}}

 :minoan-seals
 {:href            "https://commons.wikimedia.org/wiki/File:Minoisch_Siegel_Detail_(cropped).jpg"
  :original-width  170
  :original-height 240
  :props           {:alt "Minoan Seal, 1700 BC, Badisches Landesmuseum Karlsruhe - Special Exhibition 2001"
                    :src "https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Minoisch_Siegel_Detail_%28cropped%29.jpg/250px-Minoisch_Siegel_Detail_%28cropped%29.jpg"}}

 :mycenaean-pottery
 {:href            "https://en.wikipedia.org/wiki/Mycenaean_pottery#/media/File:Mycenaean_stirrup-vase_MBA_Rennes_D08-2-11.jpg"
  :original-width  240
  :original-height 240
  :props           {:alt "A Mycenaean stirrup jar, hallmark of the olive oil trade in the Late Bronze Age"
                    :src "https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Mycenaean_stirrup-vase_MBA_Rennes_D08-2-11.jpg/250px-Mycenaean_stirrup-vase_MBA_Rennes_D08-2-11.jpg"}}

 :protogeometric-pottery
 {:href            "https://en.wikipedia.org/wiki/Protogeometric_style#/media/File:Protogeometric_amphora_BM_A1124.jpg"
  :original-width  149
  :original-height 240
  :props           {:alt "Proto-Geometric amphora c. 975–950 BCE. Athens, now British Museum"
                    :src "https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Protogeometric_amphora_BM_A1124.jpg/250px-Protogeometric_amphora_BM_A1124.jpg"}}

 :pythagoras
 {:href            "https://en.wikipedia.org/wiki/Pythagoras#/media/File:Pythagoras_in_the_Roman_Forum,_Colosseum.jpg"
  :original-width  250
  :original-height 362
  :props           {:alt "Bust of Pythagoras of Samos in the Capitoline Museums, Rome"
                    :src "https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Pythagoras_in_the_Roman_Forum%2C_Colosseum.jpg/250px-Pythagoras_in_the_Roman_Forum%2C_Colosseum.jpg"}}}

#_
{:href            ""
 :original-width  .
 :original-height .
 :props           {:alt ""
                   :src ""}}
